body{
    background-image : url("https://www.freegreatpicture.com/background-color-theme/background-color-3373");
    text-decoration: "line-through";
    color: white;
    font-size: 20px; 
    }